
// Fonts
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Light.woff2') format('woff2'),
        url('../fonts/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Spacing
$spacer: 4px;
@import 'node_modules/spacing-bootstrap-3/spacing';

.replay {
    display: none;
}

.replay[data-playing] {
    display: block;
}

.replay-list {
    list-style: none;
    overflow-y: auto;
    max-height: 29rem;

    :hover {
        color: #636b6f;
        text-decoration: none;
        background-color: $replay-active-color;
    }
}

.replay-list__link {
    color: #636b6f;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem .5rem;
    border-bottom: 1px dashed #e7e7e7;
}

.replay-list__recname,
.replay-list__levname,
.replay-list__username,
.replay-list__time,
.replay-list__createdat,
.replay-list__legit {
    width: 100%;
}

.replay-list__link:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.replay-list__link--active {
    background-color: $replay-active-color;
}

.rec {
    height: 60vh;
    min-height: 300px;
}

.replay-header {
    display: flex;
    justify-content: space-between;
}

.replay-header__right {
    min-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.replay-title {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
}

.replay-header__description {
    display: inline-block;
    margin: 0 10px 16px 0;
    font-size: 14px;
    line-height: 1.3;
}

.numeric {
    font-family: sans-serif;
}

.legit {
    color: crimson;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 11px;
    letter-spacing: -.5px;
    vertical-align: center;
}

.tas-flag--large {
    font-size: 20px;
}

@media (min-width: $md) {
    .replay-list__link {
        padding: .1rem .5rem;
    }

    .replay-list__recname,
    .replay-list__levname,
    .replay-list__username,
    .replay-list__time,
    .replay-list__createdat {
        width: 19%;
    }

    .replay-list__legit {
        width: 5%;
        text-align: right;
    }

    .replay-list__link:not(:last-child) {
        border-bottom: none;
    }

    .replay-header {

    }

    .replay-title {
        font-size: 36px;
    }

    .replay-header__description {
        font-size: 18px;
    }
}
